################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/addon/api/.vs
/addon/ui/.vscode
/addon/api/bin/Debug/net10.0
