################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/addon/api/.vs
/addon/ui/.vscode
/addon/api/bin/
/addon/api/obj/
/addon/api/dev.options.json
